@font-face {
	font-family: "Meshroom";
	src: url(../fonts/sabrina-font-collection/the-meshroom-43651/TheMeshroom-3zaXL.ttf);
}

@font-face {
	font-family: "Remachine";
	src: url(../fonts/sabrina-font-collection/remachine-script-16703/RemachineScriptPersonalUseOnly-yZL3.ttf);
}

@font-face {
	font-family: "Merienda One";
	src: url(../fonts/Merienda_One/MeriendaOne-Regular.ttf);
}

@font-face {
	font-family: "Chewy";
	src: url(../fonts/Chewy/Chewy-Regular.ttf);
}

@font-face {
	font-family: "Quicksand";
	src: url(../fonts/Quicksand/static/Quicksand-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: "Quicksand";
	src: url(../fonts/Quicksand/static/Quicksand-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: "Quicksand";
	src: url(../fonts/Quicksand/static/Quicksand-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: "Quicksand";
	src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "Quicksand";
	src: url(../fonts/Quicksand/static/Quicksand-SemiBold.ttf);
	font-weight: 600;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	font-size: 10px;
	color: white;
}

h1 {
	margin-bottom: 3rem;
	font-family: "Meshroom";
	font-size: 6.103515625rem;
	line-height: 9rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}

h2 {
	margin-bottom: 3rem;
	font-family: "Merienda One";
	font-size: 4.8828125rem;
	line-height: 6rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}

h3 {
	margin-bottom: 3rem;
	font-family: "Merienda One";
	font-size: 3.90625rem;
	line-height: 6rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}

h4 {
	margin-bottom: 3rem;
	font-family: "Merienda One";
	font-size: 3.125rem;
	line-height: 6rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}

h5 {
	margin-bottom: 3rem;
	font-family: "Merienda One";
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}

h6 {
	margin-bottom: 3rem;
	font-family: "Merienda One";
	font-size: 2.2rem;
	line-height: 3rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}

p {
	margin-bottom: 3rem;
	font-family: "Quicksand";
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}

@media all and (max-width: 900px) {
	h1 {
		margin-bottom: 3rem;
		font-family: "Meshroom";
		font-size: 6.103515625em;
		line-height: 9rem;
		font-weight: 600;
		font-style: normal;
		letter-spacing: 0em;
	}

	h2 {
		margin-bottom: 3rem;
		font-family: "Merienda One";
		font-size: 4.8828125em;
		line-height: 6rem;
		font-weight: 600;
		font-style: normal;
		letter-spacing: 0em;
	}

	h3 {
		margin-bottom: 3rem;
		font-family: "Merienda One";
		font-size: 3.90625em;
		line-height: 6rem;
		font-weight: 600;
		font-style: normal;
		letter-spacing: 0em;
	}

	h4 {
		margin-bottom: 3rem;
		font-family: "Merienda One";
		font-size: 3.125em;
		line-height: 6rem;
		font-weight: 600;
		font-style: normal;
		letter-spacing: 0em;
	}

	h5 {
		margin-bottom: 3rem;
		font-family: "Merienda One";
		font-size: 2.5em;
		line-height: 3rem;
		font-weight: 600;
		font-style: normal;
		letter-spacing: 0em;
	}

	h6 {
		margin-bottom: 3rem;
		font-family: "Merienda One";
		font-size: 2em;
		line-height: 3rem;
		font-weight: 600;
		font-style: normal;
		letter-spacing: 0em;
	}

	p {
		margin-bottom: 3rem;
		font-family: "Quicksand";
		font-size: 1.6em;
		line-height: 3rem;
		font-weight: 400;
		font-style: normal;
		letter-spacing: 0em;
	}
}

.title {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	font-family: "lato", sans-serif;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 10px;
	margin-top: -60px;
	padding-left: 10px;
}

.planet {
	transition: transform 0.5s;
	transform-origin: center center;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-decoration: none;
}

.planet img {
	width: 80px;

	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.planet span {
	width: 100%;
	text-align: center;
	display: inline-block;

	font-family: "Merienda One";
	color: white;
	font-size: 18px;

	order: 0;
	flex: 0 1 auto;
	align-self: auto;

	margin-top: 10px;
}

.planet:hover {
	transform: scale(1.2, 1.2);
}

.planet:hover img {
	transition: transform 2.5s;
	transform: rotate(25deg);
}

.space-galaxy {
	height: 100vh;

	display: grid;
	grid-template-rows: 1fr repeat(3, 200px) 1fr;
	grid-template-columns: 1fr repeat(4, minmax(min-content, 240px)) 1fr;
	grid-template-areas: ". . . . . ." ". . planet-about planet-education . ."
		". planet-hobbies center-galaxy center-galaxy planet-skills ." ". . planet-experience planet-portfolio . ."
		". . . . . .";
	grid-gap: 16px;
	align-items: center;
	justify-items: center;
}

@media all and (max-width: 900px) {
	.space-galaxy {
		grid-template-rows: 1fr repeat(4, 200px) 1fr;
		grid-template-columns: 1fr repeat(2, minmax(min-content, 240px)) 1fr;
		grid-template-areas: ". . . ." ". center-galaxy center-galaxy ." ". planet-about planet-education ."
			". planet-experience planet-portfolio ." ". planet-hobbies planet-skills ." ". . . .";
	}
}

.space-planet {
	display: grid;
	grid-template-rows: 300px max-content 200px;
	grid-template-columns: 1fr repeat(4, minmax(min-content, 240px)) 1fr;
	grid-template-areas: "planet-header planet-header planet-header planet-header planet-header planet-header"
		". planet-content planet-content planet-content planet-content ."
		"planet-footer planet-footer planet-footer planet-footer planet-footer planet-footer";
	grid-gap: 16px;
	align-items: stretch;
	justify-items: stretch;
}

.planet-header {
	grid-area: planet-header;
	align-self: stretch;
	justify-self: stretch;
	background-color: #0e0e10;

	display: grid;
	grid-template-rows: 100px 200px;
	grid-template-columns: 1fr repeat(4, minmax(min-content, 240px)) 1fr;
	grid-column-gap: 16px;
	align-items: stretch;
	justify-items: stretch;
}

.planet-header nav .nav-home img {
	width: 60px;
}

.planet-header nav .nav-home h1 {
	font-size: 4rem;
	margin: 0;
	margin-left: 15px;
}

.planet-header nav .nav-page img {
	width: 40px;
}

.planet-header nav ul,
.planet-header nav ul.nav-page-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: center;
}

@media all and (max-width: 1024px) {
	.planet-header {
		grid-template-rows: 200px 100px;
	}

	.planet-header nav ul {
		flex-direction: column;
		flex-wrap: wrap;
	}
}

@media all and (max-width: 700px) {
	.planet-header nav .nav-home img {
		width: 60px;
	}

	.planet-header nav .nav-page img {
		width: 25px;
	}

	.planet-header nav p {
		font-size: 1.4rem;
	}
}

.planet-header nav {
	grid-column: 2/6;
}

.planet-header nav a {
	color: white;
	text-decoration: none;
	margin: 0;
}

.planet-header nav p {
	color: white;
	text-decoration: none;
	margin: 0;
}

.planet-header nav a.nav-home {
	color: white;
	text-decoration: none;
	display: flex;
}

.nav-page-list li {
	margin-left: 20px;
	text-align: center;
}

.planet-header section {
	grid-column: 2/6;
}

.planet-content {
	grid-area: planet-content;
	padding: 24px;
	margin-bottom: 12rem;
}

.planet-footer {
	grid-area: planet-footer;
	padding: 40px;
	text-align: center;
	background-color: #0e0e10;
}

.planet-footer .greetings p {
	margin: 0;
}

.space-center {
	grid-area: center-galaxy;

	display: inline-grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: "logo";
	align-items: center;
	justify-items: center;

	text-decoration: none;
}

.space-center img {
	width: 135px;
	grid-area: logo;
}

.space-center h1 {
	font-size: 65px;
	margin: 0;
	grid-area: logo;

	background: -webkit-linear-gradient(white, #38495a);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
}

.space-center h1 span:nth-child(1) {
	order: 0;
	flex: 0 1 auto;
	align-self: stretch;
}

.space-center h1 span:nth-child(2) {
	/* display: block; */
	/* transform: translateX(220px); */
	order: 0;
	flex: 0 1 auto;
	align-self: flex-end;
}

.planet-about {
	grid-area: planet-about;
}

.planet-education {
	grid-area: planet-education;
}

.planet-experience {
	grid-area: planet-experience;
}

.planet-portfolio {
	grid-area: planet-portfolio;
}

.planet-hobbies {
	grid-area: planet-hobbies;
}

.planet-skills {
	grid-area: planet-skills;
}

.planet-titles {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.planet-titles img {
	width: 80px;
}

.planet-titles h2 {
	/* font-family: "Merienda One"; */
	/* font-size: 24px; */
	color: white;
	margin-left: 24px;
	margin-bottom: 0;
}

.content {
	font-family: "Quicksand";
	/*   font-weight: 300;
  font-size: 22px; */
	color: white;
	line-height: 1.5;
}

.content section {
	margin-top: 128px;
}

.content section:first-child {
	margin-top: 64px;
}

/* .content section h3 {
  font-size: 24px;
  font-weight: 500;
}

.content section h4 {
  font-size: 20px;
  font-weight: 500;
} */

.content section p {
	margin-top: 16px;
}

section.experience-block .company {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-content: stretch;
	align-items: center;
}

section.experience-block .company .company-img {
	order: 0;
	flex: 0 1 150px;
	align-self: auto;
	height: 150px;
}

section.experience-block .company .company-name {
	order: 0;
	flex: 1 1 auto;
	align-self: auto;

	margin-left: 24px;
}

section.experience-block .company .company-name h3 {
	font-family: "Quicksand";
	font-weight: 700;
	margin-bottom: 0;
}

section.experience-block .company .company-name h4 {
	font-family: "Quicksand";
	font-weight: 600;
	margin-bottom: 0;
	font-style: italic;
}

.portfolio-photos img {
	width: 100%;
	margin-bottom: 4rem;
}

.portfolio-photos:last-child img {
	margin-bottom: 0;
}

.skill-sets,
.hobby-sets {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px;
}

.skill-sets .left,
.skill-sets .right,
.hobby-sets .left,
.hobby-sets .right {
	grid-column: 1/3;
	display: grid;
	grid-template-columns: subgrid;
	grid-auto-rows: 50px;
	grid-row-gap: 16px;
	grid-auto-flow: row;
}

.skill-sets .right,
.hobby-sets .right {
	grid-column: 3/5;
}

.skill-sets .skill-name {
	justify-self: end;
	align-self: center;
}

.skill-sets .skill-name p {
	margin: 0;
}

.range {
	background-color: lightgray;
	border-radius: 8px;
	position: relative;
}

.range-50:after {
	position: absolute;
	height: 100%;
	width: 50%;
	border-radius: 6px;
	content: "";
	/* background-color: orangered; */
}

.range-75:after {
	position: absolute;
	height: 100%;
	width: 75%;
	border-radius: 6px;
	content: "";
	/* background-color: yellowgreen; */
}

.range-100:after {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	content: "";
	/* background-color: lightseagreen; */
}

.range-ux:after {
	background-color: #d0021b;
}

.range-ui:after {
	background-color: #004b8d;
}

.range-fe:after {
	background-color: #fdbd2c;
}

.hobby-img {
	justify-self: end;
}

.hobby-img img {
	width: 50px;
}
