section.footer__copyright
	p Designed and developed by: Arnulfo Loredo

section.footer__socialmedia
	p Let&apos;s talk
	ul.footer__socialmedia__links
		li
			a(href='https://www.linkedin.com/in/arnulfolg/')
				i.icon.icon--linkedin
		li
			a(href='https://github.com/arnulfolg')
				i.icon.icon--github
		li
			a(href='https://www.behance.net/arnulfoloredo')
				i.icon.icon--behance
		li
			a(href='https://www.flickr.com/people/arnulfolg/')
				i.icon.icon--flickr
		li
			a(href='https://www.instagram.com/arnulfo.lg/')
				i.icon.icon--instagram
		li
			a(href='mailto:arnulfo.lg@live.com')
				i.icon.icon--email

section.footer__greetings
	p
		| Inspired by 
		a(href='https://www.spacejam.com/') Space Jam 
		| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Webpage
	p
		| Icons made by&nbsp;
		a(href='https://www.flaticon.com/authors/freepik' title='Freepik') Freepik
		| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;from&nbsp;
		a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com