section.footer__copyright(aria-labelledby="section_footer")
	p Designed and developed by: Arnulfo Loredo

section.footer__socialmedia(aria-labelledby="section_footer")
	p Let&apos;s talk
	ul.footer__socialmedia__links
		li
			a(href='https://www.linkedin.com/in/arnulfolg/' title="Linkedin" target="blank")
				i.icon.icon--linkedin
		li
			a(href='https://github.com/arnulfolg' title="Github" target="blank")
				i.icon.icon--github
		li
			a(href='https://www.behance.net/arnulfoloredo' title="Behance" target="blank")
				i.icon.icon--behance
		li
			a(href='https://www.flickr.com/people/arnulfolg/' title="Flickr" target="blank")
				i.icon.icon--flickr
		li
			a(href='https://www.instagram.com/arnulfo.lg/' title="Instagram" target="blank")
				i.icon.icon--instagram
		li
			a(href='mailto:arnulfo.lg@live.com' title="Send email" target="blank")
				i.icon.icon--email

section.footer__greetings(aria-labelledby="section_footer")
	p
		| Inspired by 
		a(href='https://www.spacejam.com/' target="blank") Space Jam 
		| Webpage
	p
		| Icons made by&nbsp;
		a(href='https://www.flaticon.com/authors/freepik' title='Freepik' target="blank") Freepik
		| from&nbsp;
		a(href='https://www.flaticon.com/' title='Flaticon' target="blank") www.flaticon.com