header.planet__header(role="banner")
	nav.header__navigation(role="navigation" aria-label="Links")
		ul
			li
				ul.header__navigation--home
					li
						a.header__navigation--link--home(href='index.html')
							img(src='images/black-hole_white.svg' alt='')
							h1 Arnulfo&apos;s CV
			li
				ul.header__navigation--list
					li
						a.header__navigation--link--page(href='about.html')
							img(src='images/planet_about.svg' alt='')
							p About
					li
						a.header__navigation--link--page(href='education.html')
							img(src='images/planet_education.svg' alt='')
							p Education
					li
						a.header__navigation--link--page(href='experience.html')
							img(src='images/planet_experience.svg' alt='')
							p Experience
					li
						a.header__navigation--link--page(href='portfolio.html')
							img(src='images/planet_portfolio.svg' alt='')
							p Portfolio
					li
						a.header__navigation--link--page(href='skills.html')
							img(src='images/planet_skills.svg' alt='')
							p Skills
					li
						a.header__navigation--link--page(href='hobbies.html')
							img(src='images/planet_hobbies.svg' alt='')
							p Hobbies
	section.header__title(aria-labelledby="page_title")
		h2#page_title
			block header_title
