.lost {
	height: 100vh;

	display: grid;
	grid-template-rows: 100px 1fr repeat(2, 2fr) 1fr auto;
	grid-template-columns: 1fr 1fr repeat(2, 2fr) 1fr 1fr;
	grid-template-areas:
		". lost_header lost_header lost_header lost_header ."
		". . . . . ."
		". . lost_404 lost_404 . ."
		". . lost_404 lost_404 . ."
		". . . . . ."
		". lost_footer lost_footer lost_footer lost_footer .";
	grid-gap: 16px;
	align-items: center;
	justify-items: center;
}

@media all and (max-width: 900px) {
	.lost {
		grid-template-rows: 100px repeat(2, 2fr) auto;
		grid-template-columns: 1fr repeat(2, 2fr) 1fr;
		grid-template-areas:
			"lost_header lost_header lost_header lost_header"
			". lost_404 lost_404 ."
			". lost_404 lost_404 ."
			"lost_footer lost_footer lost_footer lost_footer";
	}
}

.lost_main {
	grid-area: lost_404;
}
// .galaxy__blackhole {
// 	grid-area: galaxy__blackhole;

// 	display: inline-grid;
// 	grid-template-rows: 1fr;
// 	grid-template-columns: 1fr;
// 	grid-template-areas: "galaxy__blackhole--logo";
// 	align-items: center;
// 	justify-items: center;

// 	text-decoration: none;
// }

// .galaxy__blackhole img {
// 	width: 13.5rem;
// 	grid-area: galaxy__blackhole--logo;
// }

// .galaxy__blackhole h1 {
// 	font-size: 6.5rem;
// 	margin: 0;
// 	grid-area: galaxy__blackhole--logo;

// 	display: flex;
// 	flex-direction: column;
// 	flex-wrap: nowrap;
// 	justify-content: center;
// 	align-content: stretch;
// 	align-items: center;
// }

// .galaxy__blackhole h1 span:nth-child(1) {
// 	order: 0;
// 	flex: 0 1 auto;
// 	align-self: stretch;
// }

// .galaxy__blackhole h1 span:nth-child(2) {
// 	order: 0;
// 	flex: 0 1 auto;
// 	align-self: flex-end;
// }

.lost_footer {
	grid-area: lost_footer;
	padding: 40px;
	text-align: center;
	justify-self: stretch;
}
