extends mixins/template

block html_title 
	| About

block header_title
	| About

block content
	article.planet__content#article
		section(aria-labelledby="article")
			p
				| Visual Designer with a Front End and Engineer
				| background. I moved from the coding side to the design
				| side to create amazing experiences to the users. An
				| incredible passion to always learn has helped me shaped
				| a broader profile that moves from UX design, Information
				| Arquitecture, UI Design and Front End. Also has an
				| incredible passion for photography, reading, and taking
				| longs walks or running.
		section(aria-labelledby="article")
			h3 Languages
		section.featured__block(aria-labelledby="article")
			img.featured__block--image(src='images/about/english-language.svg' alt='')
			.featured__block--text
				p English
				p C1 - Advanced
		section.featured__block(aria-labelledby="article")
			img.featured__block--image(src='images/about/spanish-language.svg' alt='')
			.featured__block--text
				p Spanish
				p C2 - Native
	