extends mixins/template

block html_title 
	| Education

block header_title
	| Education

block content
	article.planet__content
		section.featured__block
			img.featured__block--image(src='images/education/logo_tec.png' alt='')
			.featured__block--text
				p Tecnol&oacute;gico de Monterrey (2009 - 2014)
				p
					| Ingenier&iacute;a en Tecnolog&iacute;a de Informaci&oacute;n y
					| Comunicaciones
		section.featured__block
			img.featured__block--image(src='images/education/logo_iest.jpg' alt='')
			.featured__block--text
				p IEST An&aacute;huac (2006 - 2009)
				p
					| High School
		section
			h3 Certifications and courses
		section.featured__block
			img.featured__block--image(src='images/education/log_scrumorg.jpg' alt='')
			.featured__block--text
				p Scrum.org (2018)
				p
					| Professional Scrum Master I (PSM I)
		section.featured__block
			img.featured__block--image(src='images/education/logo_scrumstudy.jpg' alt='')
			.featured__block--text
				p SCRUMstudy (2018)
				p
					| Scrum Fundamentals Certified
		section.featured__block
			img.featured__block--image(src='images/education/logo_idf.png' alt='')
			.featured__block--text
				p
					| Interaction Design Foundation (IDF) (2018)
				p
					| The Practical Guide to Usability
		section.featured__block
			img.featured__block--image(src='images/education/logo_ef.jpg' alt='')
			.featured__block--text
				p EF Education First (2017)
				p
					| EF SET Certificate - C1 English Level
					| Advanced
		section.featured__block
			img.featured__block--image(src='images/education/logo_microsoft.png' alt='')
			.featured__block--text
				p Microsoft Certified Professional (2016)
				p
					| Querying Microsoft SQL Server 2012/2014
		section.featured__block
			img.featured__block--image(src='images/education/logo_microsoft.png' alt='')
			.featured__block--text
				p Microsoft Certified Professional (2016)
				p
					| Programming in HTML5 with JavaScript and
					| CSS3
		section.featured__block
			img.featured__block--image(src='images/education/logo_cisco.png' alt='')
			.featured__block--text
				p Cisco Networking Academy (2014)
				p
					| CCNA Routing and Switching Course
