extends mixins/template

block html_title 
	| Education

block header_title
	| Education

block content
	article.planet__content
		section.experience-block
			.company
				img.company-img(src='images/education/logo_tec.png' alt='')
				.company-name
					h3 Tecnol&oacute;gico de Monterrey (2009 - 2014)
					h4
						| Ingenier&iacute;a en Tecnolog&iacute;a de Informaci&oacute;n y
						| Comunicaciones
		section.experience-block
			.company
				img.company-img(src='images/education/logo_iest.jpg' alt='')
				.company-name
					h3 IEST An&aacute;huac (2006 - 2009)
					h4
						| High School
		section
			h3 Certifications and courses
		section.experience-block
			.company
				img.company-img(src='images/education/log_scrumorg.jpg' alt='')
				.company-name
					h3 Scrum.org (2018)
					h4
						| Professional Scrum Master I (PSM I)
		section.experience-block
			.company
				img.company-img(src='images/education/logo_scrumstudy.jpg' alt='')
				.company-name
					h3 SCRUMstudy (2018)
					h4
						| Scrum Fundamentals Certified
		section.experience-block
			.company
				img.company-img(src='images/education/logo_idf.png' alt='')
				.company-name
					h3
						| Interaction Design Foundation (IDF) (2018)
					h4
						| The Practical Guide to Usability
		section.experience-block
			.company
				img.company-img(src='images/education/logo_ef.jpg' alt='')
				.company-name
					h3 EF Education First (2017)
					h4
						| EF SET Certificate - C1 English Level
						| Advanced
		section.experience-block
			.company
				img.company-img(src='images/education/logo_microsoft.png' alt='')
				.company-name
					h3 Microsoft Certified Professional (2016)
					h4
						| Querying Microsoft SQL Server 2012/2014
		section.experience-block
			.company
				img.company-img(src='images/education/logo_microsoft.png' alt='')
				.company-name
					h3 Microsoft Certified Professional (2016)
					h4
						| Programming in HTML5 with JavaScript and
						| CSS3
		section.experience-block
			.company
				img.company-img(src='images/education/logo_cisco.png' alt='')
				.company-name
					h3 Cisco Networking Academy (2014)
					h4
						| CCNA Routing and Switching Course
