extends mixins/template

block html_title 
	| Experience

block header_title
	| Experience

block content
	article.planet__content
		section.featured__block
			img.featured__block--image(src='images/experience/logo_sngular.jpg' alt='')
			.featured__block--text
				p S|ngular (2017-2020)
				p Visual Designer
		section.featured__block
			img.featured__block--image(src='images/experience/logo_ips.png' alt='')
			.featured__block--text
				p Inflection Point (2015-2017)
				p Front End Developer
		section.featured__block
			img.featured__block--image(src='images/experience/logo_altamira.png' alt='')
			.featured__block--text
				p
					| Presidencia de Altamira (2014)
				p Full Stack Developer
		section.featured__block
			img.featured__block--image(src='images/experience/logo_sictel.jpg' alt='')
			.featured__block--text
				p Sictel (2013)
				p Networking
