extends mixins/template

block html_title 
	| Experience

block header_title
	| Experience

block content
	article.planet__content
		section.featured__block
			img.featured__block--image(src='images/experience/logo_sngular.jpg' alt='')
			.featured__block--text
				h3 S|ngular (2017-2020)
				h4 Visual Designer
		section.featured__block
			img.featured__block--image(src='images/experience/logo_ips.png' alt='')
			.featured__block--text
				h3 Inflection Point (2015-2017)
				h4 Front End Developer
		section.featured__block
			img.featured__block--image(src='images/experience/logo_altamira.png' alt='')
			.featured__block--text
				h3
					| Presidencia de Altamira (2014)
				h4 Full Stack Developer
		section.featured__block
			img.featured__block--image(src='images/experience/logo_sictel.jpg' alt='')
			.featured__block--text
				h3 Sictel (2013)
				h4 Networking
