extends mixins/template

block html_title 
	| Experience

block header_title
	| Experience

block content
	article.planet__content
		.content
			section.experience-block
				.company
					img.company-img(src='images/experience/logo_sngular.jpg' alt='')
					.company-name
						h3 S|ngular (2017-2020)
						h4 Visual Designer
			section.experience-block
				.company
					img.company-img(src='images/experience/logo_ips.png' alt='')
					.company-name
						h3 Inflection Point (2015-2017)
						h4 Front End Developer
			section.experience-block
				.company
					img.company-img(src='images/experience/logo_altamira.png' alt='')
					.company-name
						h3
							| Presidencia de Altamira (2014)
						h4 Full Stack Developer
			section.experience-block
				.company
					img.company-img(src='images/experience/logo_sictel.jpg' alt='')
					.company-name
						h3 Sictel (2013)
						h4 Networking
