extends mixins/template

block html_title 
	| Hobbies

block header_title
	| Hobbies

block content
	article.planet__content
		section.experience-block
			.company
				img.company-img(src='images/hobbies/idea.svg' alt='')
				.company-name
					h3 Learning new things
					h4 Accessibility Enthusiast
		section
			h3 Sports
		section.hobby-sets
			.left
				.hobby-img
					img(src='images/hobbies/running.svg' alt='')
				.hobby-name
					p Running
				.hobby-img
					img(src='images/hobbies/gym.svg' alt='')
				.hobby-name
					p Gym Training
				.hobby-img
					img(src='images/hobbies/hiking.svg' alt='')
				.hobby-name
					p Hiking
			.right
				.hobby-img
					img(src='images/hobbies/cycling.svg' alt='')
				.hobby-name
					p Cycling
				.hobby-img
					img(src='images/hobbies/swimming.svg' alt='')
				.hobby-name
					p Swimming
				.hobby-img
					img(src='images/hobbies/ping-pong.svg' alt='')
				.hobby-name
					p Ping Pong
		section
			h3 Other Activities
		section.hobby-sets
			.left
				.hobby-img
					img(src='images/hobbies/photo-camera.svg' alt='')
				.hobby-name
					p Photography
				.hobby-img
					img(src='images/hobbies/gameboy.svg' alt='')
				.hobby-name
					p Videogames
			.right
				.hobby-img
					img(src='images/hobbies/open-book.svg' alt='')
				.hobby-name
					p Reading
