extends mixins/home


block content
	a.galaxy__blackhole(href='#')
		img(src='images/black-hole.svg' alt='')
		h1
			span Arnulfo&apos;s
			span CV
	a.galaxy__planet.galaxy__planet--about(href='about.html')
		img(src='images/planet_about.svg' alt='')
		span About
	a.galaxy__planet.galaxy__planet--experience(href='experience.html')
		img(src='images/planet_experience.svg' alt='')
		span Experience
	a.galaxy__planet.galaxy__planet--portfolio(href='portfolio.html')
		img(src='images/planet_portfolio.svg' alt='')
		span Portfolio
	a.galaxy__planet.galaxy__planet--education(href='education.html')
		img(src='images/planet_education.svg' alt='')
		span Education
	a.galaxy__planet.galaxy__planet--skills(href='skills.html')
		img(src='images/planet_skills.svg' alt='')
		span Skills
	a.galaxy__planet.galaxy__planet--hobbies(href='hobbies.html')
		img(src='images/planet_hobbies.svg' alt='')
		span Hobbies
  
