extends mixins/template

block html_title 
	| Skills

block header_title
	| Skills

block content
	article.planet__content#article
		section.featured__block(aria-labelledby="article")
			img.featured__block--image(src='images/skills/logo_ux.svg' alt='')
			.featured__block--text
				p User Experience
		section.skill__block.skill__block--skills(aria-labelledby="article")
			.skill__column--left
				.skill__block--name.skill__block--rightalign
					p Usability Analysis
				.skill__block--range.skill__block--range--100.skill__block--range--ux
				.skill__block--name.skill__block--rightalign
					p Prototyping
				.skill__block--range.skill__block--range--100.skill__block--range--ux
				.skill__block--name.skill__block--rightalign
					p Visual Design
				.skill__block--range.skill__block--range--100.skill__block--range--ux
			.skill__column--right
				.skill__block--name.skill__block--rightalign
					p Information Architecture
				.skill__block--range.skill__block--range--75.skill__block--range--ux
				.skill__block--name.skill__block--rightalign
					p Interaction Design
				.skill__block--range.skill__block--range--75.skill__block--range--ux
		section.featured__block(aria-labelledby="article")
			img.featured__block--image(src='images/skills/logo_ui.svg' alt='')
			.featured__block--text
				p User Interface
		section.skill__block.skill__block--skills(aria-labelledby="article")
			.skill__column--left
				.skill__block--name.skill__block--rightalign
					p Design Patterns
				.skill__block--range.skill__block--range--100.skill__block--range--ui
				.skill__block--name.skill__block--rightalign
					p Responsive Design
				.skill__block--range.skill__block--range--100.skill__block--range--ui
				.skill__block--name.skill__block--rightalign
					p Layout
				.skill__block--range.skill__block--range--100.skill__block--range--ui
				.skill__block--name.skill__block--rightalign
					p Wireframes
				.skill__block--range.skill__block--range--100.skill__block--range--ui
			.skill__column--right
				.skill__block--name.skill__block--rightalign
					p Material Design
				.skill__block--range.skill__block--range--75.skill__block--range--ui
				.skill__block--name.skill__block--rightalign
					p Apple HIG
				.skill__block--range.skill__block--range--75.skill__block--range--ui
				.skill__block--name.skill__block--rightalign
					p Usability
				.skill__block--range.skill__block--range--75.skill__block--range--ui
				.skill__block--name.skill__block--rightalign
					p Accessibility
				.skill__block--range.skill__block--range--50.skill__block--range--ui
		section.featured__block(aria-labelledby="article")
			img.featured__block--image(src='images/skills/logo_fe.svg' alt='')
			.featured__block--text
				p Front End Developer
		section.skill__block.skill__block--skills(aria-labelledby="article")
			.skill__column--left
				.skill__block--name.skill__block--rightalign
					p HTML 5
				.skill__block--range.skill__block--range--100.skill__block--range--fe
				.skill__block--name.skill__block--rightalign
					p CSS 3
				.skill__block--range.skill__block--range--100.skill__block--range--fe
				.skill__block--name.skill__block--rightalign
					p GIT
				.skill__block--range.skill__block--range--75.skill__block--range--fe
			.skill__column--right
				.skill__block--name.skill__block--rightalign
					p JavaScript
				.skill__block--range.skill__block--range--50.skill__block--range--fe
				.skill__block--name.skill__block--rightalign
					p SQL
				.skill__block--range.skill__block--range--50.skill__block--range--fe
