extends mixins/template

block html_title 
	| Skills

block header_title
	| Skills

block content
	article.planet__content
		section.experience-block
			.company
				img.company-img(src='images/skills/logo_ux.svg' alt='')
				.company-name
					h3 User Experience
		section.skill-sets
			.left
				.skill-name
					p Usability Analysis
				.range.range-100.range-ux
				.skill-name
					p Prototyping
				.range.range-100.range-ux
				.skill-name
					p Visual Design
				.range.range-100.range-ux
			.right
				.skill-name
					p Information Architecture
				.range.range-75.range-ux
				.skill-name
					p Interaction Design
				.range.range-75.range-ux
		section.experience-block
			.company
				img.company-img(src='images/skills/logo_ui.svg' alt='')
				.company-name
					h3 User Interface
		section.skill-sets
			.left
				.skill-name
					p Design Patterns
				.range.range-100.range-ui
				.skill-name
					p Responsive Design
				.range.range-100.range-ui
				.skill-name
					p Layout
				.range.range-100.range-ui
				.skill-name
					p Wireframes
				.range.range-100.range-ui
			.right
				.skill-name
					p Material Design
				.range.range-75.range-ui
				.skill-name
					p Apple HIG
				.range.range-75.range-ui
				.skill-name
					p Usability
				.range.range-75.range-ui
				.skill-name
					p Accessibility
				.range.range-50.range-ui
		section.experience-block
			.company
				img.company-img(src='images/skills/logo_fe.svg' alt='')
				.company-name
					h3 Front End Developer
		section.skill-sets
			.left
				.skill-name
					p HTML 5
				.range.range-100.range-fe
				.skill-name
					p CSS 3
				.range.range-100.range-fe
				.skill-name
					p GIT
				.range.range-75.range-fe
			.right
				.skill-name
					p JavaScript
				.range.range-50.range-fe
				.skill-name
					p SQL
				.range.range-50.range-fe
