doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	title Arnulfo&apos;s CV
	link(rel='icon' href='images/favicon_128.png')
	link(rel='stylesheet' href='css/reset.css')
	link(rel='stylesheet' href='css/space.css')
	link(rel='stylesheet' href='css/stars-styles.css')

block body
	body.home.space-background.space-background__stars1.space-background__stars2
		section.galaxy

			block content

			footer.footer.galaxy__footer
				include ../components/footer