doctype 
//- You lost the game
html(lang="en")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Arnulfo&apos;s CV

		meta(name="description", content="A modern résumé inspired by the Space Jam's 90's Webpage")
		meta(name="author" content="Arnulfo Loredo")
		meta(name="theme-color" content="#0e0e10")

		meta(property='og:title' content='Arnulfo Loredo Résumé')
		meta(property='og:description' content='A Résumé inspired in the 90\'s Space Jam Movie')
		meta(property='og:image' content='images/Resume_OG_IMG.png')
		meta(property='og:url' content='https://arnulfolg.github.io/resume-spacejam/')
		
		meta(name='twitter:card' content='summary_large_image')
		meta(name='twitter:image:alt' content='Résumé inspired in the 90\'s Space Jam Movie')
		meta(name='twitter:creator' content='@arnulfolg')

		link(rel='icon' href='images/favicon_128.png')
		link(rel='stylesheet' href='css/reset.css')
		link(rel='stylesheet' href='css/space.css')

block body
	body.stars__galaxy.stars__background.stars__background--stars--1.stars__background--stars--2
		section.galaxy#galaxy(role="main" aria-labelledby="galaxy")

			block content

			footer.footer.galaxy__footer#section_footer(role="contentinfo")
				include ../components/footer
	//- script(src="a11y.js")