doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	title 
		block html_title
		| - Arnulfo&apos;s CV

	link(rel='icon' href='images/favicon_128.png')
	link(rel='stylesheet' href='css/reset.css')
	link(rel='stylesheet' href='css/space.css')

block body
	body.stars__planet.stars__background.stars__background--stars--3
		section.planet
			include ../components/header

			block content

			footer.footer.planet__footer
				include ../components/footer